
.ipynb_checkpoints/6 - APIs and Ethics-checkpoint.ipynb
.ipynb_checkpoints/W3D2-Demo-checkpoint.ipynb
.ipynb_checkpoints/W3D2-Demo-checkpoint.ipynb
__pycache__/AppCred.cpython-37.pyc
W3D2-Demo.ipynb
